.imageGallery{
    .container {
    margin: 0px auto;

.boxShadow{
        position: relative;
        -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0,0.5);
        -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, .5);
        padding: 5px;
        background: white;
        border:0;
        width: 100%;
        max-width: 90%;        
        transition: 2;
        border-radius: 6px;

      img {
        width: 100%;
      }
    }

    .boxShadow::after {
      content: '';
      position: absolute;
      z-index: -1; /* hide shadow behind image */
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
      box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);                
      width: 70%; 
      left: 15%; /* one half of the remaining 30% */
      height: 100px;
      bottom: 0;
    }

    .heading{
      text-align: center;
    }   

    .padding{
      padding:2%;
    }
    
    .hide{
      display: none;
    }
    .show{
      display: block;
    }

    .colBlack{
      color: rgba(102, 102, 102, 1);
    }

  }
}